/*
헤더 및 전체를 감싸는 CSS
*/

#container {
	margin-top: 50px;
	z-index: 0;
}

#search_form {
	position: fixed;
	width: 250px;
	right: 0;
	margin-right: 6px;
	margin-top: 41px;
	z-index: 1002;
}

#navbar {
	margin-bottom: 0px!important;
	z-index: 1000;
}

#compose_form input {
	z-index: 1001;
}

.nav_activable {
	cursor: default;
}

#header_btngrp {
	margin-top: 7px;
	margin-right: 6px;
}

#notifications {
	position: fixed;
	right: 0;
	margin-right: 20px;
	margin-top: 78px;
	width: 400px;
	opacity: 0.9;
	top: 0;
	z-index: 2000;
}

#content_settings {
	padding-left: 10px;
	padding-right: 10px;
}

.retweeter-profile-image {
	position: absolute;
	width: 32px;
	margin-left: 20px;
	margin-top: 22px;
}

.retweeter-info {
	text-align: right;
	color: #5CB85C;
}

.favorite-icon {
	text-align: right;
	color: #F0AD4E;
}

.real-image {
	width: 860px;
}

input.overlimit {
	background-color: #D9534F;
}

div.tweet-info {
	float: right;
	margin-bottom: 3px;
}

#content_settings {
	margin-top: 65px;
}

#css_theme_form {
	text-align: right;
}

#Background_selected {
	width: 200px;
}

#Background_mention {
	width: 200px;
}

#apply_theming_settings {
	float: right;
	margin-top: -30px;
}

#compose_form {
	margin-top: 50px;
}

/*
트윗 리스트뷰 active CSS
*/

li.tweet-list-active {
	/*height: 180px;*/
	/*background-color: #eee;*/
	padding-bottom: 15px;
}

li.tweet-list-active .profile_image {
	position: absolute;
}

li.tweet-list-active .tweet-header {
	margin-top: 3px;
	margin-left: 53px;
}

li.tweet-list-active .tweet-header .info-name-first {
	height: 20px;
	margin-bottom: 0;
	font-weight: bolder;
}

li.tweet-list-active .tweet-header .info-name-second {
	height: 20px;
}

li.tweet-list-active .tweet-body {
	margin-top: 20px;
}

li.tweet-list-active .tweet-footer {
	text-align: right;
}

div.btn-group-tweetmenu {
	margin-top: 8px;
}

li.tweet-list-active .show-replies {

}

/*
트윗 리스트뷰 inactive CSS
*/

li.tweet-list-inactive {
	height: 70px;
}

li.tweet-list-inactive .profile_image {
	position: absolute;
}

li.tweet-list-inactive .tweet-header {
	margin-left: 53px;
	height: 20px;
}

li.tweet-list-inactive .tweet-header .info-name-first {
	height: 20px;
	font-weight: bolder;
}

li.tweet-list-inactive .tweet-body {
	margin-left: 53px;
	padding-right: 271px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

li.tweet-list-inactive .tweet-body br {
	display: none;
}

li.tweet-list-inactive .tweet-footer {
	float: right;
	margin-top: -40px;
}

li.tweet-list-inactive .tweet-header .info-name-second {
	display: none;
}

li.tweet-list-inactive .btn-group-tweetmenu {
	display: none;
}

li.tweet-list-inactive .show-replies {
	display: none;
}

li.tweet-list-inactive div.tweet-info {
	margin-top: -20px;
}

/*settings*/

div.layoutsetting1 {
	height: 56px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

div.layoutsetting2 {
	height: 56px;
}

div.layoutsetting1 span {
	float: left;
	margin-top: 7px;
}

div.layoutsetting2 div {
	margin-top: 17px;
	margin-left: 12px;
}

div.layoutsetting2 .bootstrap-switch {
	float: right;
	margin-top: -25px;
	margin-right: 9px;
}

div.layoutsetting2 .bootstrap-switch .bootstrap-switch-container {
	margin-top: 0;
}

/*
Direct Messages
*/

.dm-item-self .media-body.dm-body {
	text-align: right;
}

.well.well-dm {
	margin-top: 5px;
	width: 400px;
	display: inline-block;
}

/*.dm-time {
	position: absolute;
	margin-top: -20px;
	right: 0;
	margin-right: 20px;
}*/

.dm-item-self {
	min-height: 142px;
}

.dm-item .glyphicon {
	top: 20px;
	font-size: 50px;
}

.dm-item-self .glyphicon {
	float: right;
	top: 10px;
	font-size: 50px;
}

.dm-time {
	position: absolute;
	margin-top: -10px;
	color: #aaa;
	/* right: 0; */
	/* margin-right: 20px; */
	margin-left: 160px;
	font-size: 12px;
}

.dm-item-self .well.well-dm {
	float: right;
	margin-top: 5px;
	width: 400px;
	display: inline-block;
}

.dm-item-self .dm-time {
	position: absolute;
	margin-top: -10px;
	color: #aaa;
	margin-right: 160px;
	font-size: 12px;
	right: 0;
}

li.thread-list-active {
	background-color: #eeeeee;
}

span.arrow-icon {
	position: absolute;
	margin-top: 25px;
	right: 0;
	font-size: 20px;
}

.thread-list-active span.arrow-icon {
	color: #aaaaaa;
}

.thread-screenm {
	font-size: 12px;
	color: #999;
}

.thread-body {
	font-size: 12px;
	color: #999;
}

.thread-time {
	float: right!important;
	margin-top: -44px;
	margin-right: -2px;
	font-size: 12px;
}